body {
    background-color: #1A1A1A; 
    color: white;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

.back-btn {
    position: absolute;
    background-color: black;       
    border: none;                  
    border-radius: 8px;           
    padding: 10px 15px;        
    display: inline-flex;     
    align-items: center;
    justify-content: center;
    cursor: pointer;         
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
    transition: all 0.3s ease;
    top: 20px;
    left: 50px;               
}

.back-btn i {
    color: white;
    font-size: 30px;              
    transition: transform 0.3s ease; 
}

.back-btn:hover {
    background-color: #333;       
    transform: scale(1.05);    
}

.back-btn:hover i {
    transform: translateX(-5px);  
}
.back-btn:active {
    transform: scale(0.95);      
}

.video-page {
    text-align: center; 
    padding: 5vh 5%;
}
        
.video-page h1 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 3.33vh;
}
 
.video-page hr {
  margin: 20px 0 30px 0;
  border: 1px solid white;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
        
.video-container video {
    width: 80vw; 
    height: auto;
    max-width: 1000px; 
    max-height: 70vh; 
    object-fit: contain;
    display: block;
    border-radius: 10px;
    border: 2px solid #ccc;
}
        
.video-container video:hover {
    border-color: #000;
}